<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <section class="navigation">
      <ul>
        <a class="nav-link" routerLink="/checklists">Checklists</a>
        <a class="nav-link" routerLink="/students">Students</a>
      </ul>
    </section>
    <section class="banner">
      <h1 class="banner-text">Golden Knights Elementary</h1>
      <p class="smaller-banner-text">Mrs. Rohrer's Reading Assessments</p>
    </section>
    <section>
      <router-outlet></router-outlet>
    </section>
  </body>
</html>
